h2{
    margin-bottom:  $spacer * 1.5;
}
p{
    margin-bottom: $spacer * 0.5;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {
    height: 60px;
    background-color: $white;
    padding-left: 28px;
    @include media-breakpoint-up(md) { 
    padding-left: 189px;
    }
    }

.offcanvas-backdrop {
        @include overlay-backdrop($zindex-offcanvas-backdrop, $offcanvas-backdrop-bg, 0);//$zindex-offcanvas-backdrop, $offcanvas-backdrop-bg,$offcanvas-backdrop-opacity
}
.offcanvas-backdrop{
        opacity:0;
}

.offcanvas{
    ::-webkit-scrollbar {
        width: 2px;
        
  } /* this targets the default scrollbar (compulsory) */
  ::-webkit-scrollbar-track {
    background-color: $white;
    border-radius: 2px;
    border: solid 3px transparent;
    
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: $secondary;
    border-radius: 2px;
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    background-color: none;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: none;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

}

.btn-white:hover{
    opacity:0.9;
}
.card{
    margin-bottom: $spacer;
}
.card-img-top{
    margin-bottom: $spacer * 0.5;
}

.card-text{
    font-weight: 500;
    margin-bottom: $spacer * 1.25;
}


.notificate-capsule{
position: relative;
    &::after{
        content: "3";
        font-size: 12px;
        background-color: #E31277;
        position: absolute;
        border-radius: 10px;
        color: white;
        left: 14px;
        padding: 0px 8px;
        top: -9px;
    }
    
}
.navigation{
    position: static;
    border-bottom: 1px solid $dark;
    height: 52px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    ::-webkit-scrollbar {
        height: 2px;
  }
  }
  .nav{
    display: flex;
    flex-wrap: nowrap;
    li{
      display: flex;
      justify-content: center;
      flex-shrink: 0;
      flex-basis: 65px;
      margin: 0px 9px;
      @include media-breakpoint-up(md) { 
        flex-shrink: 1;
       }
    }
    &-link{
      width: 65px;
      color:$dark;
      padding: 0;
      text-align: center;
      white-space: nowrap;
      &:hover{
        color:$dark;
        border-bottom: 1px solid $secondary;
      }
      &:visited{
        color:$dark;
      }
    }
    &-current{
        border-bottom: 1px solid $secondary;
    }
  }

  .guess-img{
    max-width: 350px;
    height: 350px;
    object-fit: cover;
  }
  .guess-img-mobile{
    height: 345px;
    object-fit: cover;
  }


.subscribe-bg{
    background-image: url("../images/wladislaw-peljuchno-Y_f1aHpR1tc-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
}
.footer{
    padding-top: 16px;
    padding-bottom: 16px;
    @include media-breakpoint-up(md) { 
        padding-top: 28px;
        padding-bottom: 28px;
        }
}


