.fw-medium{
    font-weight: 500;
}
.opacity-80{
    opacity:0.8;
}
.btn-12-52{
    padding: 12px 52px;
}
.z-index-high{
    z-index: 1090;
}

.bg-black-opacity-0{
background-color:rgba(0,0,0,0);
}
.square-img-120{
    width: 120px;
    height: 120px;
    position: relative;
    img{
        height: 100%;
        position: absolute;
        object-fit: cover;
    }
}
